<html>
<head>
  <title>Campus Management System</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Campus Management System</h1>
  <p>Welcome to the campus management system.</p>
  <p>Click <a href="campus/new">here</a> to create a new campus.</p>
  <ul>
  <% @campuses.each do |campus|%>
    <li><%= campus[0] %> (<%= campus[1]%>) </li>
  <% end %>
  </ul>
  <p> New proposed campuses</p>
  <ul>
    <% @new_campus.each do |campus|%>
      <li><%= campus[1] %> (<%= campus[2]%>) </li>
  <% end %>
  </ul>
</body>
</html>