<html>
<head>
  <title>Student Management System</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Student Management System</h1>
  <p>Welcome to the student management system.</p>
  <p>Click <a href="students/new">here</a> to create a new student.</p>
  <p>Click <a href="campuses">here</a> to see all campuses.</p>
  <ul>
    <% @students.each do |student| #Ice cream cones signify that this code is to be run as ruby by the webpage. Not as html. <%= means print to page %>
      <li><%= student['name'] %>, <%= student['age'] %></li>
    <% end %>
  </ul>
</body>
</html>

