section#contact-info {
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
	border-radius: 5px;
	padding: 3px;
	margin: 5px;
}

.list {
	font-size: .8em;
}

#contact-info:hover p {
	display: block;
	color: #e9e5dc;
}